<div class="bg-[#f3f3f3] pb-8 sm:pb-10">
  <p class="text-2xl sm:text-4xl font-black text-center pb-2 sm:pb-4">
    店舗のリピーター施策は
  </p>
  <p class="text-4xl sm:text-6xl font-black text-center">
    お店アプリが<br />当たり前の時代に
  </p>
</div>

<div class="flex justify-center gap-5 flex-wrap bg-[#f3f3f3]">
  <div class="p-6 bg-white w-2/5">
    <p class="text-xs mb-4 sm:text-lg font-bold text-center">
      紙のスタンプ<br />カード
    </p>
    <img class="mx-auto" src="src/assets/img/benefit-old-1.png" alt="" />
  </div>
  <div class="p-6 bg-white w-2/5">
    <p class="text-xs mb-4 sm:text-lg font-bold text-center">
      紙の<br />クーポン券
    </p>
    <!-- <img class="mx-auto" src="src/assets/img/benefit-old-1.png" alt="" /> -->
  </div>
  <div class="p-6 bg-white w-2/5">
    <p class="text-xs mb-4 sm:text-lg font-bold text-center">
      会員ポイント<br />カード
    </p>
    <img class="mx-auto" src="src/assets/img/benefit-old-2.png" alt="" />
  </div>
  <div class="p-6 bg-white w-2/5">
    <p class="text-xs mb-4 sm:text-lg font-bold text-center">
      ダイレクト<br />メール
    </p>
    <img class="mx-auto" src="src/assets/img/benefit-old-3.png" alt="" />
  </div>
</div>

<div class="relative flex justify-center pt-20 pb-7 bg-[#f3f3f3]">
  <img src="src/assets/img/down-arrow(benefit).svg" alt="" />
  <div class="absolute text-3xl text-center top-5">アプリ化<br />すると</div>
</div>

<div class="flex relative items-center justify-center bg-[#f3f3f3]">
  <div
    class="items flex w-full gap-4 bg-[#5bbdc8] rounded-xl px-4 py-9 overflow-hidden"
  >
    <div class="flex flex-col items-center gap-6">
      <div
        class="slide-desc relative text-center text-xs sm:text-base bg-[#101010] px-5 py-2 text-white w-max"
      >
        アンケートを<br />実施可能
      </div>

      <div class="bg-white rounded-2xl w-[236px]">
        <img
          class="rounded-2xl border-4 h-[416px] w-[236px]"
          src="src/assets/img/benefit-feature-1.png"
          alt=""
        />
      </div>
    </div>

    <div class="flex flex-col items-center gap-6 w-[236px]">
      <div
        class="slide-desc relative text-center text-xs sm:text-base bg-[#101010] px-5 py-2 text-white w-max"
      >
        クーポンの<br />配布が可能に！
      </div>

      <div class="bg-white rounded-2xl w-[236px]">
        <img
          class="rounded-2xl border-4 h-[416px] w-[236px]"
          src="src/assets/img/benefit-feature-2.png"
          alt=""
        />
      </div>
    </div>

    <div class="flex flex-col items-center gap-6">
      <div
        class="slide-desc relative text-center text-xs sm:text-base bg-[#101010] px-5 py-2 text-white w-max"
      >
        スタンプカード<br />機能搭載
      </div>

      <div class="bg-white rounded-2xl w-[236px]">
        <img
          class="rounded-2xl border-4 h-[416px] w-[236px]"
          src="src/assets/img/benefit-feature-3.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="bg-[#f3f3f3] text-center pt-16">
  <p class="text-2xl sm:text-4xl font-bold mb-2">ギガリピはお店アプリを</p>
  <p class="text-2xl sm:text-4xl font-bold mb-2">LINE公式アカウント</p>
  <p class="text-2xl sm:text-4xl font-bold mb-2">
    <span class="text-3xl">(旧LINE@)</span>上に実現
  </p>
  <div class="flex flex-col justify-center items-center bg-[#FABE00] my-6 py-4">
    <a href="#value-1" class="inline-block">
      <div class="flex">
        <img
          class="inline-block w-[64px] mr-1"
          src="src/assets/img/benefit-icon-1.png"
          alt=""
        />
        <span class="text-4xl sm:text-5xl font-bold my-auto">リピート戦略</span>
      </div>
    </a>
    <span class="text-4xl font-black">×</span>
    <a href="#value-2" class="inline-block">
      <div class="flex">
        <img
          class="inline-block w-[64px] mr-1"
          src="src/assets/img/benefit-icon-2.png"
          alt=""
        />
        <span class="text-4xl sm:text-5xl font-bold my-auto"
          >分析<span class="text-4xl font-bold">で</span></span
        >
      </div>
    </a>
  </div>

  <p class="text-3xl sm:text-5xl font-bold pb-24">
    小売店の売上アップの<br />仕組みを構築します！
  </p>
</div>
