<div class="py-30">
  <div
    class="relative flex items-center justify-center flex-col text-center mb-6"
  >
    <p
      class="absolute font-[Outfit] font-bold text-[72px] sm:text-[130px] top-1 sm:-top-4 text-center text-[#f3f3f3] -z-1"
    >
      Features
    </p>
    <p class="text-xl sm:text-2xl">店舗での運用に特化した</p>
    <p class="text-4xl sm:text-5xl font-bold">ギガリピの特徴</p>
  </div>
  <div
    class="flex flex-col bg-[#f3f3f3] items-center justify-center text-center px-8 pt-12"
  >
    <div class="">
      <p class="text-2xl sm:text-3xl/10 font-bold">
        店舗規模に合わせて<br />柔軟に対応した機能とプラン
      </p>
      <p class="leading-6 mb-6">
        小さいお店には最低限の機能で安く、大きいお店にはオプション機能も多数ご用意。
      </p>
      <img src="src/assets/img/feature-1.png" alt="" />
    </div>
  </div>

  <div class="flex flex-col items-center justify-center text-center px-8 pt-12">
    <div class="">
      <p class="text-2xl sm:text-3xl/10 font-bold">
        立ち上げから運用まで <br />専任コンサルタントが対応
      </p>
      <p class="leading-6 mb-6">
        最初の立ち上げをコンサルタントが徹底サポート。運用設計からスタッフ教育まで。
      </p>
      <img src="src/assets/img/feature-2.png" alt="" />
    </div>
  </div>

  <div
    class="flex flex-col bg-[#f3f3f3] items-center justify-center text-center px-8 pt-12"
  >
    <div class="">
      <p class="text-2xl sm:text-3xl/10 font-bold">
        カスタマイズにより<br />貴店に合わせたアプリに
      </p>
      <p class="leading-6 mb-6">
        まだない機能もオーダーできる。 フルスクラッチ並みのカスタマイズ性。
      </p>
      <img src="src/assets/img/feature-3.png" alt="" />
    </div>
  </div>

  <div class="flex flex-col items-center justify-center text-center px-8 pt-12">
    <div class="">
      <p class="text-2xl sm:text-3xl/10 font-bold">
        各種連携機能により <br />さらに使いやすく
      </p>
      <p class="leading-6 mb-6">
        POSレジ連携、ECサイト連携で、 O2Oやオムニチャネルを実現可能。
      </p>
      <img src="src/assets/img/feature-4.png" alt="" />
    </div>
  </div>
</div>
