<div class="flex items-center justify-center mt-3 bg-white">
  <div class="">
    <a href="#"><img src="src/assets/img/logo-main.svg" alt="logo-main" /></a>
  </div>

  <img
    class="open-nav-bar absolute top-0 right-0 w-10 h-10 p-3 bg-[#fabe00] rounded-bl-lg"
    src="src/assets/img/3line.svg"
    alt=""
  />
</div>

<div class="nav-bar absolute top-0 right-0 hidden z-1">
  <img
    class="close-nav-bar absolute top-0 right-0 w-10 h-10 p-3 bg-[#fabe00] rounded-bl-lg"
    src="src/assets/img/close.svg"
    alt=""
  />
  <ul class="flex flex-col px-10 py-16 bg-[#fabe00] rounded-bl-lg font-medium">
    <li class="py-2 border-b-[2px] border-white">
      <a href="#">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">ギガリピとは</p>
        </div>
      </a>
    </li>
    <li class="py-2 border-b-[2px] border-white">
      <a href="#benefit">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">特徴</p>
        </div>
      </a>
    </li>
    <li class="py-2 border-b-[2px] border-white">
      <a href="#value-1">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">機能</p>
        </div>
      </a>
    </li>
    <li class="py-2 border-b-[2px] border-white">
      <a href="#plans">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">料金</p>
        </div>
      </a>
    </li>
    <li class="py-2 border-b-[2px] border-white">
      <a href="#tutorial">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">ご利用の流れ</p>
        </div>
      </a>
    </li>
    <li class="py-2 border-b-[2px] border-white">
      <a href="#frequently-question">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">よくあるご質問</p>
        </div>
      </a>
    </li>
    <li class="py-2 border-b-[2px] border-white">
      <a href="#contact">
        <div class="flex items-center gap-1">
          <img
            class="w-4 h-4"
            src="src/assets/img/right-arrow(header).svg"
            alt=""
          />
          <p class="text-2xl">お問い合わせ</p>
        </div>
      </a>
    </li>
  </ul>
</div>
