<div class="flex items-center justify-center mt-3 px-8">
  <div class="flex justify-center w-full gap-4 mt-6">
    <div class="relative">
      <img
        class="w-[110px] max-w-[250px]"
        src="src/assets/img/hero-phone.png"
        alt="phone"
      />

      <div
        class="absolute flex bg-[#222] text-[8px] text-white rounded-full -top-3 -left-4 text-center items-center justify-center w-12 h-12"
      >
        <p>小売店<br />専用</p>
      </div>
    </div>

    <div class="flex flex-col justify-between flex-1 max-w-[160px]">
      <div class="font-bold ml-auto">
        <p>リピーターが</p>
        <p>ガンガン増える</p>
      </div>
      <div class="text-[#FABE00] font-semibold">
        <p>LINE</p>
        <p>マーケティング</p>
        <p>システム</p>
      </div>
    </div>
  </div>
</div>
<div class="slide-container absolute w-full font-[Outfit] truncate top-38 -z-1">
  <div class="slide-text text-9xl font-bold text-[#f3f3f3]">GIGA REPE GIGA</div>
</div>

<!-- Lớp Đệm -->
<div class="bg-[#f3f3f3] -mt-9 h-9">
  <div class=""></div>
</div>

<div
  class="flex items-center justify-center text-center pt-4 pb-12 bg-[#f3f3f3]"
>
  <div class="relative">
    <img class="w-40" src="src/assets/img/logo-icon.svg" alt="logo-icon" />
    <p class="absolute text-[#222] top-10 -left-20 -rotate-6">
      スマート<br />クーポンで実現
    </p>
  </div>
</div>
