<div class="bg-[#f3f3f3] pt-20 pb-36">
  <div
    class="relative flex items-center justify-center flex-col text-center mb-6 mx-3 sm:mx-6"
  >
    <p
      class="absolute font-[Outfit] font-bold text-[72px] sm:text-[130px] -top-1 sm:-top-10 text-center text-white z-0"
    >
      Plans
    </p>
    <p class="text-4xl sm:text-5xl font-bold z-1">料金体系</p>
    <p class="text-xl sm:text-3xl z-1">
      月額費用0円からLINEマーケティングを 気軽に始めることができます
    </p>
  </div>

  <div class="w-5/6 mx-auto overflowx-x-hidden">
    <div class="overflow-x-auto">
      <img
        class="min-w-[800px] w-full max-w-none"
        src="src/assets/img/table(plans).png"
        alt=""
      />
    </div>
  </div>
  <p class="mt-8 mx-6">
    ※アクティブ会員とは：X日以内に当システムに利用履歴があるユーザー<br />（Xの値は180以上でお店が自由に設定可能）
  </p>
</div>
