<div class="flex flex-col items-center justify-center pt-32 pb-36">
  <div class="w-5/6 py-9 border-b-1">
    <p class="text-center text-3xl font-bold">ご利用の流れ</p>
  </div>
  <div class="flex flex-col items-center justify-center w-full mx-auto">
    <ul class="flex-1 w-5/6 text-2xl font-bold py-9 border-b-1">
      <span class="flex justify-center"> 初回ヒアリング</span>
      <li class="flex gap-3 text-base font-medium leading-[33px] mt-3">
        <img src="src/assets/img/dot.svg" alt="" />初回登録クーポンをどうするか?
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />会計金額ごとにいくつスタンプがつくか?
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />初回来店後のアンケートはどうするか?
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img src="src/assets/img/dot.svg" alt="" />
        来店しなくなってから何日後に、再訪を促す通知を飛ばすか?
      </li>
    </ul>
    <ul class="flex-1 w-5/6 text-2xl font-bold py-9 border-b-1">
      <span class="flex justify-center">弊社が担当すること</span>

      <li class="flex gap-3 text-base font-medium leading-[33px] mt-3">
        <img src="src/assets/img/dot.svg" alt="" />システムの初期設定
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />店舗に展示するQR読み取りポスターのデータ準備
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img src="src/assets/img/dot.svg" alt="" />クーポンに写真を組み込む
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />LINE公式アカウントのメニューボタンのデザイン提供
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img src="src/assets/img/dot.svg" alt="" />声掛けの運用ルールマニュアル
      </li>
      <li class="flex gap-3 text-base font-medium leading-[33px]">
        <img
          src="src/assets/img/dot.svg"
          alt=""
        />来店しなくなってから何日後に、再訪を促す通知を飛ばすか?
      </li>
    </ul>
  </div>
  <p id="frequently-question" class="text-2xl sm:text-3xl font-bold pt-20">
    ギガリピのよくある質問
  </p>
  <div
    class="flex flex-col items-center justify-center w-5/6 mx-auto mt-8 gap-y-4"
  >
    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>

    <div class="question p-3 bg-[#f3f3f3] w-full border-2 border-[#ececec]">
      <span class="font-[Outfit] text-xl">Q.</span>
      <span>会計金額ごとにいくつスタンプがつくか?</span>
      <div class="answer ml-4">
        <div class="flex mt-4">
          <span class="font-[Outfit] text-xl">A.</span>
          <p>
            回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。回答スペースです。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
