<div class="flex flex-col items-center gap-12 pt-6 pb-20 bg-[#FABE00]">
  <div class="flex items-center justify-center">
    <div class="text-lg sm:text-3xl">ギガリピの<br />バリュー</div>
    <div class="text-[120px] sm:text-[150px] text-white">2</div>
    <div class="text-2xl sm:text-5xl">分析</div>
  </div>

  <div class="w-5/6 mx-auto">
    <img class="img-value-2" src="src/assets/img/value-2.png" alt="" />
  </div>

  <div class="flex items-center gap-9 mx-6">
    <div
      class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center"
    >
      01
    </div>
    <div class="flex-1">
      <p class="text-2xl sm:text-3xl font-bold tracking-widest mb-3">
        全体ダッシュボード
      </p>
      <p class="text-base sm:text-2xl tracking-wide leading-7">
        全体の売上や客単価を。全体の売上や客単価を。全体の売上や客単価を。
      </p>
    </div>
  </div>

  <div class="flex items-center gap-9 mx-6">
    <div
      class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center"
    >
      02
    </div>
    <div class="flex-1">
      <p class="text-2xl sm:text-3xl font-bold tracking-widest mb-3">
        新規登録ダッシュボード
      </p>
      <p class="text-base sm:text-2xl tracking-wide leading-7">
        新規会員がしめる売上比率や顧客属性、商品分類の傾向がわかります。
      </p>
    </div>
  </div>

  <div class="flex items-center gap-9 mx-6">
    <div
      class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center"
    >
      03
    </div>
    <div class="flex-1">
      <p class="text-2xl sm:text-3xl font-bold tracking-widest mb-3">
        リピートダッシュボード
      </p>
      <p class="text-base sm:text-2xl tracking-wide leading-7">
        リピーターがしめる売上比率やリピート間隔、リピート回数毎の細かな顧客像がわかります。
      </p>
    </div>
  </div>

  <div class="flex items-center gap-9 mx-6">
    <div
      class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center"
    >
      04
    </div>
    <div class="flex-1">
      <p class="text-2xl sm:text-3xl font-bold tracking-widest mb-3">
        クーポンダッシュボード
      </p>
      <p class="text-base sm:text-2xl tracking-wide leading-7">
        誰にどんなどのようなクーポンでアプローチすればよいかが分かります。
      </p>
    </div>
  </div>

  <div class="flex items-center gap-9 mx-6">
    <div
      class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center"
    >
      05
    </div>
    <div class="flex-1">
      <p class="text-2xl sm:text-3xl font-bold tracking-widest mb-3">
        通知ダッシュボード
      </p>
      <p class="text-base sm:text-2xl tracking-wide leading-7">
        誰にどんなどのようにプロモーションをどのようなタイミングで送付すればよいかが分かります。
      </p>
    </div>
  </div>

  <div class="flex items-center gap-9 mx-6">
    <div
      class="font-[Outfit] w-[45px] h-[45px] bg-white rounded-full flex items-center justify-center"
    >
      06
    </div>
    <div class="flex-1">
      <p class="text-2xl sm:text-3xl font-bold tracking-widest mb-3">
        顧客属性ダッシュボード
      </p>
      <p class="text-base sm:text-2xl tracking-wide leading-7">
        性別、年代、地域、購買傾向、来店頻度などによるクロス集計ができます。
      </p>
    </div>
  </div>
</div>
